In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/joi_ryde/Desktop/Woz U/Final Group Project/Lesson01 Group Project Week 1/Chronic Illness - Symptoms, Treatments & Triggers/export.csv", low_memory=False)

In [3]:
df.head()

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
0,QEVuQwEABlEzkh7fsBBjEe26RyIVcg==,NaN,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0
1,QEVuQwEAWRNGnuTRqXG2996KSkTIEw==,32.0,male,US,2015-11-26,1069,Condition,Ulcerative colitis,0
2,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4
3,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3169,Condition,hip pain when gettin up,3
4,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3170,Condition,pain in hand joints,4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976223 entries, 0 to 7976222
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   user_id          object
 1   age              float64
 2   sex              object
 3   country          object
 4   checkin_date     object
 5   trackable_id     object
 6   trackable_type   object
 7   trackable_name   object
 8   trackable_value  object
dtypes: float64(1), object(8)
memory usage: 547.7+ MB

In [5]:
df.nunique()

user_id             42283
age                   100
sex                     4
country               164
checkin_date         1675
trackable_id       222465
trackable_type          7
trackable_name     117214
trackable_value     15960
dtype: int64

In [6]:
df.describe(include=["O"])

,user_id,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
count,7976223,7844088,7678238,7976223,7976223,7976223,7976219,7049339
unique,42283,4,164,1675,222465,7,117214,15960
top,QEVuQwEAmS9U3RAfpAoxDeyaHuHfNQ==,female,US,2019-01-28,242,Symptom,humidity,0
freq,69187,6478402,4690209,10887,109093,3642279,232334,1385241

In [63]:
df['user_id'] = pd.Categorical(df['user_id'])
df['user_id']= df.user_id.cat.codes

In [64]:
# Create a sample DataFrame
data = {'sex': ['male', 'female', 'doesnt_say', 'other', '(Blanks)']}
df_sex = pd.DataFrame(data)

def sexR(sex):
    if sex == 'male':
        return 1
    elif sex == 'female':
        return 2
    elif sex == 'doesnt_say':
        return 3
    elif sex == 'other':
        return 4
    else:
        return 0  # Default value for unknown categories

# Recode the column using the defined function
df['sexR'] = df['sex'].apply(sex)
print(df_sex)

          sex
0        male
1      female
2  doesnt_say
3       other
4    (Blanks)

In [65]:
df_sex=df.dropna()

In [93]:
column_to_drop = 'sex'
df_sex_dropped = df.drop(columns=['sex'])

print(df_sex_dropped)

         user_id   age country checkin_date trackable_id trackable_type
0           9070   NaN     NaN   2015-11-26         1069      Condition  \
1          22737  32.0      US   2015-11-26         1069      Condition
2            376   2.0      CA   2017-04-28         3168      Condition
3            376   2.0      CA   2017-04-28         3169      Condition
4            376   2.0      CA   2017-04-28         3170      Condition
...          ...   ...     ...          ...          ...            ...
7976218    38270  22.0      GB   2019-12-04            1            Tag
7976219    38270  22.0      GB   2019-12-04            2            Tag
7976220    38270  22.0      GB   2019-12-04         9002           Food
7976221    38270  22.0      GB   2019-12-04         9139           Food
7976222    38270  22.0      GB   2019-12-04        10260           Food

                                            trackable_name trackable_value
0                                       Ulcerative colitis               0  \
1                                       Ulcerative colitis               0
2        pain in left upper arm felt like i was getting...               4
3                                  hip pain when gettin up               3
4                                      pain in hand joints               4
...                                                    ...             ...
7976218                                              tired             NaN
7976219                                           stressed             NaN
7976220                                               soup             NaN
7976221                                             yogurt             NaN
7976222                                            granola             NaN

         sexR
0         NaN
1         0.0
2         1.0
3         1.0
4         1.0
...       ...
7976218   1.0
7976219   1.0
7976220   1.0
7976221   1.0
7976222   1.0

[7976223 rows x 9 columns]

In [94]:
df_sex_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976223 entries, 0 to 7976222
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   user_id          int32
 1   age              float64
 2   country          object
 3   checkin_date     object
 4   trackable_id     object
 5   trackable_type   object
 6   trackable_name   object
 7   trackable_value  object
 8   sexR             float64
dtypes: float64(2), int32(1), object(6)
memory usage: 517.3+ MB

In [95]:
df_sex_dropped.head()

,user_id,age,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value,sexR
0,9070,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0,NaN
1,22737,32.0,US,2015-11-26,1069,Condition,Ulcerative colitis,0,0.0
2,376,2.0,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4,1.0
3,376,2.0,CA,2017-04-28,3169,Condition,hip pain when gettin up,3,1.0
4,376,2.0,CA,2017-04-28,3170,Condition,pain in hand joints,4,1.0

In [96]:
value_counts = df_sex_dropped['user_id'].value_counts()
print(value_counts)

user_id
33425    69187
32732    66151
29968    52308
22158    39827
18360    34469
         ...
22891        1
28052        1
42039        1
28947        1
9070         1
Name: count, Length: 42283, dtype: int64

In [97]:
df_sex_dropped.head()

,user_id,age,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value,sexR
0,9070,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0,NaN
1,22737,32.0,US,2015-11-26,1069,Condition,Ulcerative colitis,0,0.0
2,376,2.0,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4,1.0
3,376,2.0,CA,2017-04-28,3169,Condition,hip pain when gettin up,3,1.0
4,376,2.0,CA,2017-04-28,3170,Condition,pain in hand joints,4,1.0

In [98]:
trackable_type_value_counts = df_sex_dropped['trackable_type'].value_counts()
print(trackable_type_value_counts)

trackable_type
Symptom      3642279
Weather      1393806
Condition    1111517
Treatment     901820
Food          480971
Tag           445669
HBI              161
Name: count, dtype: int64

In [99]:
trackable_name_value_counts = df_sex_dropped['trackable_name'].value_counts()
print(trackable_name_value_counts)

trackable_name
humidity                            232334
pressure                            232302
precip_intensity                    232301
temperature_min                     232301
icon                                232301
                                     ...
sugar dairy gluten free anything         1
prednisilone                             1
cuddled                                  1
chocolate custard                        1
poor productivity                        1
Name: count, Length: 117214, dtype: int64

In [100]:
df_1 = df_sex_dropped[~df['trackable_type'].str.contains('Weather|Tag|HBI|Food')]

In [101]:
print(df_1)

         user_id   age country checkin_date trackable_id trackable_type
0           9070   NaN     NaN   2015-11-26         1069      Condition  \
1          22737  32.0      US   2015-11-26         1069      Condition
2            376   2.0      CA   2017-04-28         3168      Condition
3            376   2.0      CA   2017-04-28         3169      Condition
4            376   2.0      CA   2017-04-28         3170      Condition
...          ...   ...     ...          ...          ...            ...
7976213    38270  22.0      GB   2019-12-04         3368        Symptom
7976214    38270  22.0      GB   2019-12-04          153        Symptom
7976215    38270  22.0      GB   2019-12-04          242        Symptom
7976216    38270  22.0      GB   2019-12-04         1026        Symptom
7976217    38270  22.0      GB   2019-12-04        30924        Symptom

                                            trackable_name trackable_value
0                                       Ulcerative colitis               0  \
1                                       Ulcerative colitis               0
2        pain in left upper arm felt like i was getting...               4
3                                  hip pain when gettin up               3
4                                      pain in hand joints               4
...                                                    ...             ...
7976213                              difficulty getting up               4
7976214                                          Neck pain               2
7976215                                            Fatigue               3
7976216                                 Poor concentration               3
7976217                                  poor productivity               3

         sexR
0         NaN
1         0.0
2         1.0
3         1.0
4         1.0
...       ...
7976213   1.0
7976214   1.0
7976215   1.0
7976216   1.0
7976217   1.0

[5655616 rows x 9 columns]

In [102]:
df_1['trackable_type'].value_counts()

trackable_type
Symptom      3642279
Condition    1111517
Treatment     901820
Name: count, dtype: int64

In [103]:
df_1.nunique()

user_id            41461
age                  100
country              160
checkin_date        1669
trackable_id       27735
trackable_type         3
trackable_name     39275
trackable_value    14484
sexR                   4
dtype: int64

In [104]:
df_1_condition = df_1[df_1['trackable_type'].isin(['Condition'])]

In [105]:
df_1_condition.head()

,user_id,age,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value,sexR
0,9070,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0,NaN
1,22737,32.0,US,2015-11-26,1069,Condition,Ulcerative colitis,0,0.0
2,376,2.0,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4,1.0
3,376,2.0,CA,2017-04-28,3169,Condition,hip pain when gettin up,3,1.0
4,376,2.0,CA,2017-04-28,3170,Condition,pain in hand joints,4,1.0

In [106]:
df_1_condition['trackable_type'].value_counts()

trackable_type
Condition    1111517
Name: count, dtype: int64

In [107]:
df_1_sypmtoms = df_1[df_1['trackable_type'].isin(['Symptom'])]

In [108]:
df_1_sypmtoms.head()

,user_id,age,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value,sexR
15,376,2.0,CA,2017-04-28,123,Symptom,Joint stiffness,3,1.0
24,17088,NaN,NaN,2015-05-26,152,Symptom,Nausea,1,NaN
31,17088,NaN,NaN,2015-05-27,152,Symptom,Nausea,2,NaN
32,17088,NaN,NaN,2015-05-27,8,Symptom,Anxiety,2,NaN
33,17088,NaN,NaN,2015-05-27,242,Symptom,Fatigue,1,NaN

In [109]:
df_1_sypmtoms['trackable_type'].value_counts()

trackable_type
Symptom    3642279
Name: count, dtype: int64

In [110]:
df_1_treatment = df_1[df_1['trackable_type'].isin(['Treatment'])]

In [111]:
df_1_treatment.head()

,user_id,age,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value,sexR
25,17088,NaN,NaN,2015-05-26,9890,Treatment,Zofran,8.0 mg,NaN
34,17088,NaN,NaN,2015-05-27,9890,Treatment,Zofran,4.0 mg,NaN
35,17088,NaN,NaN,2015-05-27,4934,Treatment,Klonopin,0.5 mg,NaN
201,1451,37.0,US,2015-05-26,1470,Treatment,Caffeine,100.0 mg,1.0
202,1451,37.0,US,2015-05-26,5681,Treatment,Methadone,20.0 mg,1.0

In [112]:
df_1_treatment['trackable_type'].value_counts()

trackable_type
Treatment    901820
Name: count, dtype: int64

In [113]:
df_1_treatment_Zofran = df_1[df_1['trackable_name'].isin(['Zofran'])]

In [114]:
df_1_treatment_Zofran.head()

,user_id,age,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value,sexR
25,17088,NaN,NaN,2015-05-26,9890,Treatment,Zofran,8.0 mg,NaN
34,17088,NaN,NaN,2015-05-27,9890,Treatment,Zofran,4.0 mg,NaN
4631,4136,20.0,US,2019-07-24,9890,Treatment,Zofran,1 x 4mg every 8 hours,1.0
49254,29918,NaN,NaN,2015-12-20,9890,Treatment,Zofran,4.0 mg,NaN
49785,9253,69.0,US,2015-12-20,9890,Treatment,Zofran,4.0 mg,1.0

In [115]:
df_1_treatment_Zofran['trackable_name'].value_counts()

trackable_name
Zofran    2329
Name: count, dtype: int64

In [116]:
df_1_sypmtoms_Nausea = df_1[df_1['trackable_name'].isin(['Nausea'])]

In [117]:
df_1_sypmtoms_Nausea.head()

,user_id,age,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value,sexR
24,17088,NaN,NaN,2015-05-26,152,Symptom,Nausea,1,NaN
31,17088,NaN,NaN,2015-05-27,152,Symptom,Nausea,2,NaN
43,17088,NaN,NaN,2015-06-10,152,Symptom,Nausea,1,NaN
51,17088,NaN,NaN,2015-06-11,152,Symptom,Nausea,0,NaN
60,17088,NaN,NaN,2015-06-14,152,Symptom,Nausea,0,NaN

Correlation Matrices

Conditions

In [118]:
condition_correlation_matrix=df_1_condition.corr()

ValueError: could not convert string to float: 'US'

In [ ]:
df_1_condition.head()