In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/joi_ryde/Desktop/Woz U/Final Group Project/Lesson01 Group Project Week 1/Chronic Illness - Symptoms, Treatments & Triggers/export.csv", low_memory=False)

In [3]:
df.head()

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
0,QEVuQwEABlEzkh7fsBBjEe26RyIVcg==,NaN,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0
1,QEVuQwEAWRNGnuTRqXG2996KSkTIEw==,32.0,male,US,2015-11-26,1069,Condition,Ulcerative colitis,0
2,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4
3,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3169,Condition,hip pain when gettin up,3
4,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3170,Condition,pain in hand joints,4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976223 entries, 0 to 7976222
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   user_id          object
 1   age              float64
 2   sex              object
 3   country          object
 4   checkin_date     object
 5   trackable_id     object
 6   trackable_type   object
 7   trackable_name   object
 8   trackable_value  object
dtypes: float64(1), object(8)
memory usage: 547.7+ MB

In [5]:
df.nunique()

user_id             42283
age                   100
sex                     4
country               164
checkin_date         1675
trackable_id       222465
trackable_type          7
trackable_name     117214
trackable_value     15960
dtype: int64

In [6]:
df.describe(include=["O"])

,user_id,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
count,7976223,7844088,7678238,7976223,7976223,7976223,7976219,7049339
unique,42283,4,164,1675,222465,7,117214,15960
top,QEVuQwEAmS9U3RAfpAoxDeyaHuHfNQ==,female,US,2019-01-28,242,Symptom,humidity,0
freq,69187,6478402,4690209,10887,109093,3642279,232334,1385241

In [9]:
df['user_id'] = pd.Categorical(df['user_id'])
df['user_id']= df.user_id.cat.codes

In [7]:
value_counts = df['user_id'].value_counts()
print(value_counts)

user_id
QEVuQwEAmS9U3RAfpAoxDeyaHuHfNQ==    69187
QEVuQwEAlNMIH8RXhjZvx6HzoW8iXQ==    66151
QEVuQwEAhBn9PfvMceuuky/L/gXfNw==    52308
QEVuQwEAVaa7SCCq9wZKg//dpv5Xyw==    39827
QEVuQwEAPpzXRFYj0gtBzyok9tgeWA==    34469
                                    ...
QEVuQwEAWg4pCEIkXFpBdEOdLWe9Dw==        1
QEVuQwEAeHQv8LoQ2qmMW42o/vDFfg==        1
QEVuQwEAzaBucIQ9F+9zpfSMO59mWw==        1
QEVuQwEAfgw7nlsxEoxV7P9fYh4FBg==        1
QEVuQwEABlEzkh7fsBBjEe26RyIVcg==        1
Name: count, Length: 42283, dtype: int64

In [10]:
df.head()

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
0,9070,NaN,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0
1,22737,32.0,male,US,2015-11-26,1069,Condition,Ulcerative colitis,0
2,376,2.0,female,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4
3,376,2.0,female,CA,2017-04-28,3169,Condition,hip pain when gettin up,3
4,376,2.0,female,CA,2017-04-28,3170,Condition,pain in hand joints,4

In [11]:
trackable_type_value_counts = df['trackable_type'].value_counts()
print(trackable_type_value_counts)

trackable_type
Symptom      3642279
Weather      1393806
Condition    1111517
Treatment     901820
Food          480971
Tag           445669
HBI              161
Name: count, dtype: int64

In [13]:
trackable_name_value_counts = df['trackable_name'].value_counts()
print(trackable_name_value_counts)

trackable_name
humidity                            232334
pressure                            232302
precip_intensity                    232301
temperature_min                     232301
icon                                232301
                                     ...
sugar dairy gluten free anything         1
prednisilone                             1
cuddled                                  1
chocolate custard                        1
poor productivity                        1
Name: count, Length: 117214, dtype: int64

In [14]:
df_1 = df[~df['trackable_type'].str.contains('Weather|Tag|HBI|Food')]

In [15]:
print(df_1)

         user_id   age     sex country checkin_date trackable_id
0           9070   NaN     NaN     NaN   2015-11-26         1069  \
1          22737  32.0    male      US   2015-11-26         1069
2            376   2.0  female      CA   2017-04-28         3168
3            376   2.0  female      CA   2017-04-28         3169
4            376   2.0  female      CA   2017-04-28         3170
...          ...   ...     ...     ...          ...          ...
7976213    38270  22.0  female      GB   2019-12-04         3368
7976214    38270  22.0  female      GB   2019-12-04          153
7976215    38270  22.0  female      GB   2019-12-04          242
7976216    38270  22.0  female      GB   2019-12-04         1026
7976217    38270  22.0  female      GB   2019-12-04        30924

        trackable_type                                     trackable_name
0            Condition                                 Ulcerative colitis  \
1            Condition                                 Ulcerative colitis
2            Condition  pain in left upper arm felt like i was getting...
3            Condition                            hip pain when gettin up
4            Condition                                pain in hand joints
...                ...                                                ...
7976213        Symptom                              difficulty getting up
7976214        Symptom                                          Neck pain
7976215        Symptom                                            Fatigue
7976216        Symptom                                 Poor concentration
7976217        Symptom                                  poor productivity

        trackable_value
0                     0
1                     0
2                     4
3                     3
4                     4
...                 ...
7976213               4
7976214               2
7976215               3
7976216               3
7976217               3

[5655616 rows x 9 columns]

In [17]:
df_1['trackable_type'].value_counts()

trackable_type
Symptom      3642279
Condition    1111517
Treatment     901820
Name: count, dtype: int64

In [18]:
df_1.nunique()

user_id            41461
age                  100
sex                    4
country              160
checkin_date        1669
trackable_id       27735
trackable_type         3
trackable_name     39275
trackable_value    14484
dtype: int64

In [22]:
df_1_condition = df_1[df_1['trackable_type'].isin(['Condition'])]

In [24]:
df_1_condition.head()

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
0,9070,NaN,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0
1,22737,32.0,male,US,2015-11-26,1069,Condition,Ulcerative colitis,0
2,376,2.0,female,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4
3,376,2.0,female,CA,2017-04-28,3169,Condition,hip pain when gettin up,3
4,376,2.0,female,CA,2017-04-28,3170,Condition,pain in hand joints,4

In [25]:
df_1_condition['trackable_type'].value_counts()

trackable_type
Condition    1111517
Name: count, dtype: int64